<mat-card>
    <mat-card-header class="title_center">
        <mat-card-title> {{sfChar.character}} </mat-card-title>     
    </mat-card-header>
    <img mat-card-image [src]="sfChar | image">

    <mat-card-content>
        
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/sf', sfChar.id]">
            Leer más...
        </button>
        <div style="display: inline-block;" class="space"></div>
        <button mat-button color="info" [routerLink]="['/sf/edit', sfChar.id]" align="end">
            Editar
        </button>
    </mat-card-actions>
</mat-card>